<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>TodoApp</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div id="app" class="container">
  <h1>
    <button @click="clearDeleteTask">Clear finished task</button>
    My Todos
    <span class="info">({{remaining.length}}/{{todos.length}})</span>
  </h1>
  <ul>
    <li v-for="(todo, index) in todos">
      <input type="checkbox" v-model="todo.isDone">
      <span :class="{done: todo.isDone}">{{todo.title}}</span>
      <span @click="deleteItem(index)" class="deletecommand">[×]</span>
      <span @click="edit(index)" class="editcommand">[✏]︎</span>
    </li>
    <li v-show="!todos.length">
      Nothing to do
    </li>
  </ul>
  <form>
    <input type="text" v-model="newItem">
    <span><button @click="setItems">{{ changeButtonText }}</button></span>
    <span><button v-show="!(editIndex == -1)" v-on:click="cancel">Cancel</button></span>
  </form>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script src="js/main.js"></script>
</body>
</html>
